body{
    font-family: Roboto, sans-serif;
}
.coin-screen{
    min-height: 720px;
    max-width: 1280px;
    /* background-color: rgb(212, 212, 212); */
    margin:0 auto;
}
.container{
    /* блок для выравнивания контента*/
    margin-left: 9.6875%;
    margin-right: 4.0625%;
}
header{
    width: 96.82971014492754%;
    padding-top: 39px;
    /* height: 71px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
    /* margin-bottom: 10px; */
}
main{
    /* контент */
    max-width: 1104px;
    min-width: 500px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coinBlock{
    /* продукт */
    width: 47.82608695652174%;
    min-width: 500px;
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 24px;
}
.coinBlock .image{
    /* блок с фотографией */
    height: 125px;
    width: 126px;
    overflow: hidden;
    align-content: center;
    position: relative;
}
.coinBlock .image img{
    margin-top: -24px;
    margin-left: -22px;
    width: 172px;
    height: 172px;
}
.coinBlock .image .discountBlock{
    /* блок для размещения процента скидки */
    position: absolute;
    top: 2px;
    left: 82px;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    text-align: center;
    background: #833AE0;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}
.coinBlock .image .discountBlock .discount{
    padding-left: 1px;
    padding-top: 13px;
}
.infoBlock{
    /* блок с информацией */
    width: 360px;
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.infoBlock .mainInfo{
    /* основная информация */
    width: 221.51px;
    font-size: 13px;
}
.infoBlock .name{
    /* Название монеты */
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}
.name a, .name a:visited{
    text-decoration: none;
    color: #833AE0;
}
.mainInfo p{
    /* текст */
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
}
.price{
    /* блок с ценой */
    width: 96px;
    line-height: 123.4%;
}
.price .beforeDiscount{
    /* цена до скидки */
    color: gray;
    font-size: 12px;
}
.price .afterDiscount{
    /* цена после скидки */
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.container-info{
    font-family: Roboto;
    margin-top: 24px;
    margin-left: 12.8125%;
    margin-right: 15.3125%;
    max-width: 920px;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.container-info .photo{
    width: 50%;
    overflow: hidden;
    position: relative;
    align-self: center;
}
.container-info .photo:hover .revers{
    display: block;

}
.container-info .avers{
    align-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.avers img{
    width: 100%;
}
.container-info .revers{
    align-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.revers img{
    width: 100%;
    box-sizing: border-box;
}
.container-info .info{
    background: rgba(196, 196, 196, 0.5);
    width: 50%;
}
.info .info-container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 80.04385964912281%;
}
.info-container .header{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
}
.info-container .articul{
    color: #7A7A7A;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: inline-block;
    margin-bottom: 30px;
}
.articul .number{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: inline;
    color: black;
}
.articul .cost{
    color: black;
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    display: inline;
}
.info-container p{
    font-size: 14px;
    line-height: 125.5%;
    margin-bottom: 28px;

}
.info-container table{
    margin-bottom: 50px;
}
.info-container table td{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 105.2%;
    padding: 5px;
    width: 50%;
}
.info-container table tr:nth-child(odd){
    background-color: white;
    border-bottom: 1px solid #b1abab;
}
.info-container table tr:last-child{
    border-bottom: none;
}
.info-container table td:first-child{
    border-right: 1px solid silver;
}
.info-container a{
    color: #833AE0;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 30px;
}